%h1 Trips

%ul
  -@trips.each do |trip|
    %li{id: "trip-#{trip.id}"}
      %span= trip.duration
      %span= trip.start_date
      %span= trip.end_date
      %span= trip.start_station.name
      %span= trip.end_station.name
      %span= trip.bike_id
      %span= trip.subscription_type
      %span= trip.zip_code
      -if current_admin?
        =button_to 'Edit', edit_admin_trip_path
        =button_to 'Delete', admin_trip_path(trip), method:'delete'
= will_paginate @trips