<h1><%= current_user.first_name %>'s Dashboard</h1>
<content>
  <div id="user-information-container">
    <div>
      <h3>Username:</h3>
      <span><%= current_user.username%></span>
    </div>
    <div>
      <h3>Name:</h3>
      <span><%= current_user.first_name%> <%= current_user.last_name%></span>
    </div>
    <div>
      <h3>Address:</h3>
      <span><%= current_user.address%></span>
    </div>
  </div>
  
  <div id="admin-actions-container">
    <%= link_to 'Create New Trip', new_admin_trip_path %>
    <%= link_to 'Create New Station', new_admin_station_path %>
    <%= link_to 'View All Accessories', admin_accessories_path %>
  </div>
  <br>
  <br>
  <div id="selectors">
    <%= link_to  "All: #{@total_count}", admin_dashboard_path, method: :get%>
    <%= link_to  "Cancelled: #{@cancelled_count}", admin_dashboard_path( category: 'cancelled'), method: :get %>
    <%= link_to  "Ordered: #{@ordered_count}", admin_dashboard_path(category: 'ordered'), method: :get %>
    <%= link_to  "Paid: #{@paid_count}", admin_dashboard_path(category: 'paid'), method: :get %>
    <%= link_to  "Completed: #{@completed_count}", admin_dashboard_path(category: 'completed'), method: :get %>
  </div>


  <table id="orders" >
    <tr>
      <th>Id</th>
      <th>User</th>
      <th>Quantity</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    <% @orders.each do |order| %>
      <tr id="order-<%=order.id%>">
        <td>
          <%= link_to  "#{order.id}", order_path(order) %>
        </td>
        <td>
          <%= order.user.username %>
        </td>
        <td>
          <%= order.quantity %>
        </td>
        <td>
          <%= order.status %>
        </td>
        <td>
        <% if order.ordered? %>
          <%= button_to  "Cancel", "orders/#{order.id}", method: "patch", params:{status: 0}  %>
          <%= button_to  "Mark as Paid", "orders/#{order.id}", method: "patch", params:{status: 2}  %>
        <% elsif order.paid? %>
          <%= button_to "Cancel", "orders/#{order.id}", method: 'patch', params:{status: 0}  %>
          <%= button_to "Mark as Completed", "orders/#{order.id}", method: 'patch', params:{status: 3}  %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </table>



</content>
