%h1 Stations Dashboard

.metric-container
  %span= "Total Stations: #{@total}"

.metric-container
  %span= "Average Bikes per Station: #{@average_bikes_per_station}"

.metric-container
  %span= "Most Bikes: #{@most_bikes} at station(s):"
  -@stations_with_most_bikes.each do |station|
    %span= station.name

.metric-container
  %span= "Least Bikes: #{@least_bikes} at station(s):"
  -@stations_with_least_bikes.each do |station|
    %span= station.name

.metric-container
  %span= "Most Recently Installed Station: #{@newest_station.name}"

.metric-container
  %span= "Oldest Station: #{@oldest_station.name}"
  