Ordered By: 
<%=@user.full_name %>
<%=@order.created_at.strftime("Ordered: %B %e, %Y at%l:%M%p") %>
Status: 
<%=@order.status%>
Quantity:
<%= @order.quantity %>
Total: 
<%=@order.total%>
<ul>
  <% @accessories.each do |accessory| %>
    <li id="order-accessory-<%=accessory.id%>">
      <%= link_to  "#{accessory.title}", accessory_path(accessory) %>
      <%= accessory.price %>
      Subtotal: <%= @accessories_with_subtotal[accessory.id] %>
     </li>
  <% end %>
</ul>


