#cart-heading-container
  %h1= 'My Cart'
  %h2= "Total: #{number_to_currency(@cart.total_amount)}"

#cart-contents-container
  -@accessories.each do |accessory|
    %div{id:"cart-accessory-#{accessory.id}", class: 'cart-item'}
      %img{class: 'cart-thumbnail', src: accessory.image_url }/
      .cart-item-information-container
        %span.title= accessory.title
        %span.price= "Price: #{number_to_currency(accessory.price)}"
        %span.subtotal= "Subtotal: #{number_to_currency(@cart.subtotal(accessory))}"
        %span.description= accessory.description
      .quantity-container          
        =button_to '/cart/decrease_item_count', { id: 'decrease-button', params:{accesory_id: accessory.id, :cart => @cart} } do
          <i class="fas fa-minus fa-2x"></i>
        %span.quantity= @cart.contents[accessory.id.to_s]
        =button_to '/cart/increase_item_count', { id: 'increase-button', params:{accesory_id: accessory.id, :cart => @cart} } do
          <i class="fas fa-plus fa-2x"></i>
      =button_to 'Remove', '/cart/remove_item', { params:{accesory_id: accessory.id, :cart => @cart}, class: 'remove-cart-item', form_class: 'remove-item-form' }
= button_to("Checkout: #{number_to_currency(@cart.total_amount)}", '/carts/checkout')
 