%h1 Trips Dashboard

.metric-container#average-duration
  %span= "Average Trip Duration: #{@trips.average_duration}"
%br
.metric-container#longest-trip
  %span= "Longest Trip:"
  %span= link_to("#{@longest.id}", trip_path(@longest))
  %span= "Duration: #{@longest.duration}"
%br
.metric-container#shotest-trip
  %span= "Shortest Trip:"
  %span= link_to("#{@shortest.id}", trip_path(@shortest))
  %span= "Duration: #{@shortest.duration}"
%br
.metric-container#station-starts
  %span= "Station Most Trips Started At:"
  %span= link_to("#{@most_stated.name}", trip_path(@most_stated))
%br
.metric-container#average-duration
  %span= "Station Most Trips Ended At:"
  %span= link_to("#{@most_ended.name}", trip_path(@most_ended))
%br
.metric-container#most-used-bike
  %span= "Most Used Bike: #{@most_used_bike[:bike]} with #{@most_used_bike[:total]} ride(s)"
%br
.metric-container#least-used-bike
  %span= "Least Used Bike: #{@least_used_bike[:bike]} with #{@least_used_bike[:total]} ride(s)"
%br
.metric-container#highest-number-of-trips
  %span= "Highest Number of Trips: #{@highest_trip[:trips_count]} on #{@highest_trip[:date]}"
%br
.metric-container#lowest-number-of-trips
  %span= "Lowest Number of Trips: #{@lowest_trip[:trips_count]} on #{@lowest_trip[:date]}"
%br
.metric-container#subscription-breakdown-container
  %span= "Subscriber: #{@subscriber['subscriber']['count']} at #{@subscriber['subscriber']['percentage'].round}%"
  %span= "Customer: #{@subscriber['customer']['count']} at #{@subscriber['customer']['percentage'].round}%"
.metric-container#monthly-annual-breakdown
  - @annual.each do |year, month_count|
    %span= year
    -month_count.each do |month, count|
      %span= month
      %span= count
