%h1 Trips Dashboard

.metric-container#average-duration
  %span= "Average Trip Duration: #{@trips.average_duration}"
%br
.metric-container#average-duration
  %span= "Longest Trip:"
  %span= link_to("#{@longest.id}", trip_path(@longest))
  %span= "Duration: #{@longest.duration}"
%br
.metric-container#average-duration
  %span= "Shortest Trip:"
  %span= link_to("#{@shortest.id}", trip_path(@shortest))
  %span= "Duration: #{@shortest.duration}"
%br
.metric-container#average-duration
  %span= "Station Most Trips Started At:"
  %span= link_to("#{@most_stated.name}", trip_path(@most_stated))
