%h1= @accessory.title

%img{width: '80px', height: '80px', src: @accessory.image_url}

%p= "Title: #{@accessory.title}"
%p= "Description: #{@accessory.description}"
%p= "Price: #{number_to_currency(@accessory.price)}"

%li
  -if @accessory.status == 'active'
    = button_to 'Add to Cart', carts_path(accessory_id: @accessory.id), method: :post
  -else
    Accessory Retired
