%main#accessory-show
  %h1= @accessory.title

  %img{src: @accessory.image_url}

  #accessory-info-container
    %h4 Title: 
    %p= @accessory.title
    %h4 Description:
    %p= @accessory.description
    %h4 Price:
    %p= number_to_currency(@accessory.price)

  %li
    -if @accessory.status == 'active'
      = button_to 'Add to Cart', carts_path(accessory_id: @accessory.id), method: :post
    -else
      Accessory Retired
