<!DOCTYPE html>
<html>
  <head>
    <title>BikeShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav id="navigation">
      <% if current_user %>
        <%= link_to 'Log Out', logout_path%>
      <% else %>
        <%= render partial: 'partials/login' %>
      <% end %>
      <% flash.each do |type, message| %>
        <%= content_tag :div, message, class: type %>
      <% end %>
    </nav>
    <%= render 'partials/cart' %>
    <%= yield %>
  </body>
</html>
