<!DOCTYPE html>
<html>
  <head>
    <title>BikeShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'nav_bar', media: 'all' %>
    <%= stylesheet_link_tag    'main', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% unless @hide_nav%>
        <nav id="top_bar">
        <ul>
          <div class="navigation">
            <%= render partial: "partials/nav" %>
          </div>
          <div class="auth">
            <%= render partial: 'partials/login' %>
          </div>
          <div class="flash">
            <%= render partial: "partials/flash" %>
          </div>
        </ul>
      </nav>
      <%= render 'partials/cart' %>
    <% end %>
    <%= yield %>
  </body>
</html>
